<div class="h-full flex flex-col justify-center items-center w-full">
    <div>
        <div class="flex flex-row w-full gap-1 md:gap-2 py-4 px-2 md:px-4 block md:hidden">
            <img src="{{ "/assets/imgs/logosymbolleft.png" | relative_url }}" alt="Rise Up Pizza Logo" class="h-24 md:h-32 w-1/4 object-contain">
            <img src="{{ "/assets/imgs/logomobile.png" | relative_url }}" alt="Rise Up Pizza Logo" class="h-24 md:h-32 w-2/4 object-contain">
            <img src="{{ "/assets/imgs/logosymbolright.png" | relative_url }}" alt="Rise Up Pizza Logo" class="h-24 md:h-32 w-1/4 object-contain">
        </div>
    </div>
</div>
