---
layout: default
---

<div class="md:w-[50vw] max-w-4xl pr-8 space-y-6 font-myriad mb-6">
    {{content}} {% assign yesterday = 'now' | date: '%s' | minus: 86400 | date:
    '%Y-%m-%d' %}

    <div class="grid text-left pl-8 grid-cols-1 md:grid-cols-2 gap-8">
        {% assign has_events = false %} {% ical url: {{site.calendar_link}}
        after_date: yesterday limit: 4 %} {% assign has_events = true %}
        <div class="space-y-4 pl-8">
            <h2 class="text-4xl text-red-500">{{ event.summary }}</h2>
            <span class="text-3xl">@ {{ event.location}}</span><br />
            <span class="text-2xl"
                >{{ event.start_time | date: '%A %B %d' }}<br
            /></span>
            <span
                class="text-2xl underline decoration-red-500 decoration-dashed underline-offset-8"
            >
                {{ event.start_time | date: '%-I:%M %P' }} - {{ event.end_time |
                date: '%-I:%M %P' }}<br />
            </span>
        </div>
        {% endical %} {% unless has_events %}
        <div class="col-span-2 space-y-4 py-4 pl-8">
            <h2 class="text-3xl text-red-500">No Upcoming Events</h2>
            <p class="text-2xl text-gray-300">
                Check back soon for our upcoming pizza events and pop-ups!
            </p>
        </div>
        {% endunless %}
    </div>
</div>
